<div>
	<p>	作業名稱: <%=@homework.name%>  </p>
<p>截止日期:<%=date_format(@homework.deadline)%>  </p>
	<div class="panel panel-default">
		<div class="panel-heading">作業說明</div>
		<div class="panel-body">
		<%=render_homework_content @homework%>  
		</div>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Repo url</th>
			<th>最後更新日期</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<%@have_homeworks.each do|work|%>  
		<tr>
			<td><%=work.user.name%>  </td>
			<td><%= link_to work.repo_url, work.repo_url,target:"_blank" %>  </td>
			<td><%= date_format work.updated_at%>  </td>
			<td><%= link_to "A+", score_homework_have_homework_path(@homework,work,score:4),method:"post" %></td>
			<td><%= link_to "A", score_homework_have_homework_path(@homework,work,score:4),method:"post" %></td>
			<td><%= link_to "A-", score_homework_have_homework_path(@homework,work,score:4),method:"post" %></td>
			<td><%= link_to "遲交", score_homework_have_homework_path(@homework,work,score:4),method:"post" %></td>

		</tr>
		<%end%>  
	</tbody>
</table>

<%= paginate @have_homeworks %>
